*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* seard style */
.noto-serif{
    font-family: "Noto Serif", serif;
}
.inter{
    font-family: "Inter", sans-serif;
}
.primary-color{
    color: #E95A08;
}
.description-color{
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
/* seard style */

/* nav-bar */
.nav-bar,
.banner,
.plant-store{
    max-width: 1140px;
    margin: 120px auto;
}
.nav-bar,
.banner{
    margin-top: 25px;
    justify-content: space-between;
    align-items: center
}
.menu-item{
    gap: 48px;
}
.menu-item li{
    list-style: none;
}
.menu-item li a{
    text-decoration: none;

}
.menu-item li .li-1,
.li-4{
    color: #252432;
    font-weight: 600;
}
.menu-item li .li-2,
.li-3{
    color: #8987A1;
}
/* hero section */
 .banner{
    align-items: end;
 }
.banner{
    margin-top: 120px;
}
.hero-title{
    font-size: 4rem;
}
.hero-text{
    margin-top: 13px;
    font-size: 1.375rem;
}
/* hero end */
/* plant store section */
.plant-store .our-plant{
    text-align: center;
}
.our-plant .our-title{
    font-size: 3rem;
}
.our-plant .our-desc{
    max-width: 55.5rem;
    margin: 16px auto 50px auto;
}
/* card */
.card{
   width: 16.875rem;
    text-align: center;
    height: 30.3125rem;
}
.card-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px 20px;
}
.card .c-name{
    color: #111111d2;
    margin-top: 1rem;
    font-size: 1.375rem;
}
.card .price{
    margin: 15px 0 18px 0;
    font-weight: 700;
    font-size: 1.375rem;
}
.card .primary-button{
    background-color: #E95A08;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight:520;
    width: 100%;
    padding: 20px 0;
}
.primary-button:hover{
    background-color: rgb(0, 199, 199);
    transition: 0.5s ease all;
    cursor: pointer;
}
/* card end */








/* Mobile responsive */
@media screen and (max-width:576px) {
    .li-1,
    .li-2,
    .li-3{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;

    }
    .banner,
    .nav-bar,
    .description{
        margin: 0 auto ;
        justify-content: center;
        align-items: center;
    }
    .description{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
       margin-top: 20px;
    }
    .hero-title{
        width: 190px;
        line-height: 30px;
        font-size: 1.5rem;
    }
    .banner-image img{
        width: 100%;
        text-align: center;
    }
    /* card */
    .card-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 0;
        column-gap: 4px;
    }
    .card{
        width: 92%;
        margin: 0 auto;
    }
    .card .card-img{
        width: 100%;
    }
    .our-plant{
        width: 100%;
        text-align: center;
    }
    .our-desc{
        width: 336px;
    }
}